.git
.github
.vscode
docs

*.md
LICENSE
Makefile
.editorconfig
.gitignore
.rsyncignore
.env
.env*.local

__pycache__
*.pyc
*.pyo
**/.venv

client/node_modules
client/.next
client/out
client/.pnp
client/.pnp.js

*.egg-info
dist
build
coverage

.DS_Store
*.pem
*.tsbuildinfo
