name: Deploy to Production

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    name: SSH & Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Hetzner
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /root/lab
            git reset --hard origin/master
            git pull origin master
            sed -i 's|^lab-root-path:.*|lab-root-path: /root/lab|' aether.config.yaml

            # Enable maintenance mode to notify that its getting redeployed
            ln -sf /etc/nginx/sites-available/maintenance /etc/nginx/sites-enabled/aether
            systemctl reload nginx

            ENVIRONMENT=prod make apply-prod

            # Disable maintenance mode
            ln -sf /etc/nginx/sites-available/aether /etc/nginx/sites-enabled/aether
            systemctl reload nginx